* {
    padding: 0;
    margin: 0;
}
.week-ul, .name {
    display: block;
    text-transform: uppercase;
    text-align:center;
    margin: 0;
    padding: 0;
    background-color: green;
    font-family: 'Segoe UI Black';
    color: white;
    font-size: 25px;
    width:100%;
}
.name {
    background-color: #212121;
    font-family: 'Segoe UI Black';
    color: white;
    font-size: 25px;
}
.week{
    display: flex;
    justify-content:  center;
    box-shadow: 0 5px 10px #000;
    background-color: transparent;
}
.task-subject {
    border-radius: 5px;
    background: #ffd800;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}
.tasks {
    border-radius: 5px;
    box-shadow: 0 2px 5px #212121;
    background: red;
    padding: 10px;
    margin: 10px;
}
.time {
    background: orange;
    display: flex;
    justify-content: center;
}
.time-item {
    background: blue;
    font-size: 15px;
    display: block;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    margin: 5px;
}
.button-add-new-task {
    background: green;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    font-family: 'Segoe UI Black';
    color: white;
    text-align: center;
    vertical-align: middle;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #121212;
    color: #fff;
    width: 100%;
}